.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;

}
.sidebar-row:hover{
    background-color: rgb(207, 201, 201);
}
.sidebar-row  h4{
    font-weight: 600;
    margin-left: 20px;
}
.sidebar-row .MuiSvgIcon-root{
    color: rgba(0, 0, 255, 0.473);
    font-size: 20px;
}